.slider::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  left: 0.75rem;
  background: #fff;
  border: 2px solid #002;
  transition: box-shadow 0.2s ease-out;
  will-change: box-shadow;
}
.slider-position {
  transform: translateY(-50%);
}

.box-position {
  left: 76px;
  top: 55px;
  height: 233px;
  width: 233px;
}